// Black & White
$black: #000000;

// Gray
$gray: #797979;





// RGB
$red: #ff0c17;
$green: #00b05a;
$blud: blue;


//main colors

$white: #ffffff;
$nero: #222222;

//accent colors

$dark-blue: #023881;
$med-blue: #084599;
$light-green: #37db67;
$med-green: #24bf51;

//supplementary-colors

$light-milk: #f6fafb;
$med-milk: #F7F7F7;
$dark-milk: #f2f2f2;
$light-grey: #cccccc;
$med-grey: #666666;
$dark-grey: #4d4d4d;










