.order {
    @include font-settings(16px, 1.38);
    font-weight: bold;
    color:       $nero;
    cursor: pointer;
    @media screen and(max-width: 1279px) {
        & td:nth-child(n + 3) {
            display: none;
        }
    }

    & .link {
        @include font-settings(16px, 1.38);
        font-weight: bold;
        color:       $nero;
    }

    &.mod_opened {
        color: $med-blue;
        & .link {
            color: $med-blue;

        }
        & .order_switcher-icon {
            transform: rotate(180deg);
            stroke:    $med-blue;
        }
    }

    &:first-child td {
        width: 25%;

    }

    &_date {
        @media screen and(max-width: 1279px) {
            width:         75%;
            padding-right: 20px;
            text-align:    right;

        }
    }

    &_items {
        padding-top:   20px;
        padding-left:  20px;
        padding-right: 20px;
        @include media ('d-only') {
            padding-left:  40px;
            padding-right: 40px;

        }


    }

    &_items-wrapper {
        display: none;
    }

    & td {
        padding-top:    20px;
        padding-bottom: 20px;
    }

    &_number {
        @include media('d-only') {
            padding-left: 40px;
        }
        padding-left: 20px;
    }

    &_details-switcher {
        text-align:      right;
        text-decoration: underline;
        padding-right:   40px;
        cursor:          pointer;

    }

    &_switcher-icon {
        height:      10px;
        width:       12px;

        //z-index:  2;
        stroke:      $med-grey;
        margin-left: 13px;

        &.mod_mobile {
            cursor: pointer;
            @include media('d-only') {
                display: none;

            }
        }

    }
}
