@charset "UTF-8";

/**
* Миксин формирует колоночную сетку с помощью float
*
* @var string $column Колличество колонок
* @var string $indent Отступ между колонками
*
* @example "@include floatgrid(2, 20px)"
* @example "@include floatgrid(6, 10px)"
* @example "@include floatgrid(8)"
*/

/**
* Миксин формирует колоночную сетку с помощью flex
*
* @var string $column Колличество колонок
* @var string $indent Отступ между колонками
*
* @example "@include grid(3, 20px)"
* @example "@include grid(6, 10px)"
* @example "@include grid(8)"
*/

/**
* Миксин группирует свойства по медиа запросам
*
* @var string $property Изменяемое свойство
* @var string $values Массив со значениями для разрешения
*
* @example "@include media-set(font-size, (m: 12px, t: 14px, d: 16px))"
* @example "@include media-set(margin-bottom, (m: 10px, d: 30px, d-3k: 50px))"
*/

/**
* Count letter-spacing for browser from Adobe Photoshop
*
* @var string $photoshop-spacing Photoshop letter-spacing value
* @var string $font-size Letters font size
*
* @example "@include floatgrid(50, 14px)"
*/

/**
    Миксин позволяет комплексно задать типографские настройки - размер шрифта, межстрочный интервал,
    межсимвольный интервал. Для корректной работы миксину необходима функция letter-spacing.

    @var string $font-size Размер шрифта
    @var string $line-height Межстрочный интервал
    @var string $letter-spacing Межсимвольный интервал

    @example "@include font-settings(12px, 1, normal)" -> font-size: 12px; line-height: 1; letter-spacing: normal;"
    @example "@include font-settings(12px)" -> font-size: 12px; line-height: normal; letter-spacing: normal;"
    @example "@include font-settings(12px, 24px)" -> font-size: 12px; line-height: 24px; letter-spacing: normal;"
    @example "@include font-settings(24px, 24px, 40)" -> font-size: 24px; line-height: 24px; letter-spacing: 0.96px;"

 */

/**
    Функции расcчитывают значения letter-spacing на основании данных из Photoshop (Adobe XD, etc).
    Расчет может производиться как в пикселях (letter-spacing), так и в em (letter-spacing-em). Для расчета в пикселях необходимо указать размер шрифта.
    
    @src https://iskraa.ru/blog/development/letter-spacing
    
    @var number $src-data Значение letter-spacing в графическом редакторе
    @var number $font-size Размер шрифта
    
    @example "letter-spacing(10, 14px) -> 0.14px"
    @example "letter-spacing(50px, 26px) -> 1.3px"
    @example "letter-spacing(20) -> 0.02em"
    
 */

/**
    Функция для получения числового значения из величины с единицами измерения
    
    @src https://css-tricks.com/snippets/sass/strip-unit-function/
    
    @var string $value Строка для удаления единиц измерения
    
    @example "strip-unit(50px) -> 50"
    @example "strip-unit(50em) -> 50"
    @example "strip-unit(50rem) -> 50"
    @example "strip-unit(50vh) -> 50"
    
 */

.product-edit::before,
.product-edit::after {
  display: table;
  content: ' ';
}

.product-edit::after {
  clear: both;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Proxima Nova Regular", sans-serif;
}

@media all and (min-width: 1px) {
  body {
    padding-top: 80px;
  }
}

@media all and (min-width: 600px) {
  body {
    padding-top: 80px;
  }
}

@media all and (min-width: 1280px) {
  body {
    padding-top: 120px;
  }
}

.cont {
  max-width: 940px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

svg path,
svg circle {
  fill: transparent;
}

svg path.cls-2,
svg circle.cls-2 {
  fill: inherit;
}

.color-white {
  background-color: #ffffff;
}

.color-nero {
  background-color: #222222;
}

.color-dark-blue {
  background-color: #023881;
}

.color-med-blue {
  background-color: #084599;
}

.color-light-green {
  background-color: #37db67;
}

.color-med-green {
  background-color: #24bf51;
}

.color-light-milk {
  background-color: #f6fafb;
}

.color-med-milk {
  background-color: #F7F7F7;
}

.color-dark-milk {
  background-color: #f2f2f2;
}

.color-light-grey {
  background-color: #cccccc;
}

.color-med-grey {
  background-color: #666666;
}

.color-dark-grey {
  background-color: #4d4d4d;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url(/fonts/ProximaNova-Regular.eot?b7c512788e3c77b0196f0bace8a88418);
  src: url(/fonts/ProximaNova-Regular.eot?b7c512788e3c77b0196f0bace8a88418) format("embedded-opentype"), url(/fonts/ProximaNova-Regular.woff?2d2ae2556b24a45ff8d5ed86b07b5783) format("woff"), url(/fonts/ProximaNova-Regular.ttf?7ce6760d17685c466ba04d1b2c63c38b) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url(/fonts/ProximaNova-Bold.eot?10141a9d737da9c84e6e14ec5a562c6c);
  src: url(/fonts/ProximaNova-Bold.eot?10141a9d737da9c84e6e14ec5a562c6c) format("embedded-opentype"), url(/fonts/ProximaNova-Bold.woff?e2cf3dc2f079bf3d5185a02552f153c4) format("woff"), url(/fonts/ProximaNova-Bold.ttf?926a08fb27e3303c7452b0bdd2d5e5ab) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.headline {
  font-family: "Proxima Nova Bold", sans-serif;
  color: #222222;
}

.headline-1 h1,
.headline-1 h2,
.headline-1 h3,
.headline-1 h4 {
  font-size: 24px;
  line-height: normal;
  letter-spacing: normal;
}

.headline-2 h1,
.headline-2 h2,
.headline-2 h3,
.headline-2 h4 {
  font-size: 22px;
  line-height: 1.09;
  letter-spacing: normal;
}

.headline-3 h1,
.headline-3 h2,
.headline-3 h3,
.headline-3 h4 {
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: normal;
}

.headline-4 h1,
.headline-4 h2,
.headline-4 h3,
.headline-4 h4 {
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: normal;
}

.text_normal p {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: normal;
  color: #666666;
  margin-bottom: 25px;
}

.text_small p {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #222222;
}

.list_marked ul {
  margin: 0;
  padding: 0;
}

.list_marked ul li {
  margin: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: normal;
  color: #222222;
}

.list_marked ul li:before {
  color: #084599;
  font-size: 25px;
  content: '\2022';
  position: relative;
  top: 1px;
  padding-right: 14px;
}

.list_numbered ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: num;
  color: #666666;
}

.list_numbered ol li {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: normal;
}

.list_numbered ol li::before {
  content: counter(num) ". ";
  counter-increment: num;
  color: #084599;
  padding-right: 5px;
}

.button {
  width: 140px;
  height: 40px;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: normal;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding-top: 9px;
}

.button.color-med-blue:hover {
  background-color: #023881;
}

.button.color-med-blue:active {
  -webkit-box-shadow: 0 3px 6px 0 #023881;
          box-shadow: 0 3px 6px 0 #023881;
}

.button.color-light-green {
  -webkit-box-shadow: 0 3px 6px 0 #24bf51;
          box-shadow: 0 3px 6px 0 #24bf51;
}

.button.color-light-green:hover {
  background-color: #24bf51;
}

.checkbox_label {
  cursor: pointer;
  position: relative;
  padding-left: 24px;
  font-family: "Proxima Nova Bold", sans-serif;
}

.checkbox_label:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  bottom: 1px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 6px;
}

.checkbox_input {
  display: none;
}

.checkbox_input:checked + .checkbox_label:before {
  content: "\2022";
  color: #084599;
  font-size: 40px;
  text-align: center;
  vertical-align: center;
  line-height: 12px;
  border: 1px solid #084599;
}

.input {
  width: 330px;
  border-radius: 2px;
  padding-left: 20px;
  height: 50px;
  border: 1px solid #cccccc;
  color: #222222;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: normal;
}

.input::-webkit-input-placeholder {
  color: #666666;
  font-size: 11px;
  line-height: 1.27;
  letter-spacing: 0.0033px;
}

.input:-ms-input-placeholder {
  color: #666666;
  font-size: 11px;
  line-height: 1.27;
  letter-spacing: 0.0033px;
}

.input:-moz-placeholder {
  color: #666666;
  font-size: 11px;
  line-height: 1.27;
  letter-spacing: 0.0033px;
}

.input::-ms-input-placeholder {
  font-size: 11px;
  line-height: 1.27;
  letter-spacing: 0.0033px;
}

.input::placeholder {
  font-size: 11px;
  line-height: 1.27;
  letter-spacing: 0.0033px;
}

.input:focus {
  outline: none;
}

.input.invalid {
  border: 1px solid #bf4924;
}

.link a {
  color: #222222;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: normal;
}

.link a:hover {
  color: #084599;
}

.pagination li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.pagination li span {
  color: #222222;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: normal;
}

.pagination_item {
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 3px 10px 6px 10px;
  color: #222222;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: normal;
}

.pagination_item.active {
  background-color: #24bf51;
  color: #ffffff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.table table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 2px;
  border: 2px solid #f2f2f2;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: normal;
  color: #222222;
}

.table table tr {
  border-bottom: 1px solid #f9f9f9;
}

.table table td {
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 12px;
}

.table table td:last-child {
  padding-right: 40px;
}

.table table thead {
  height: 50px;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#084599), to(#05a8d4));
  background-image: linear-gradient(to right, #084599, #05a8d4);
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: normal;
}

.table table thead td:first-child {
  width: 70%;
  padding-top: 13px;
  padding-bottom: 16px;
}

.table table thead td:last-child {
  width: 15%;
}

.table table thead td:nth-child(2n) {
  width: 15%;
}

.popup {
  width: 180px;
  height: 180px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup a {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: normal;
  color: #666666;
  text-decoration: none;
}

.popup:after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 20px;
  top: 0;
  background-color: #ffffff;
}

.popup .popup_bottom {
  position: absolute;
  height: 35px;
  width: 100%;
  bottom: 0;
  padding-left: 20px;
  padding-top: 6px;
}

.personal-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.personal-menu_icon {
  width: 10px;
  height: 10px;
  position: absolute;
  left: -22px;
}

.popup_main {
  padding-left: 40px;
  padding-top: 23px;
  height: 145px;
}

.personal-menu_item {
  position: relative;
  margin-bottom: 5px;
}

.personal-menu_item use {
  fill: #666666;
}

.personal-menu_item.active a {
  color: #084599;
}

.personal-menu_item.active use {
  fill: #084599;
}

.popup-bottom_link {
  display: inline-block;
}

.popup-bottom_icon {
  width: 10px;
  height: 8px;
  display: inline-block;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  margin-left: 8px;
}

.popup-bottom_icon use {
  fill: #666666;
}

.product-card {
  margin-bottom: 20px;
}

.product-card:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(2, 56, 129, 0.17);
          box-shadow: 0 4px 8px 0 rgba(2, 56, 129, 0.17);
}

.product-card.seller_view:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product-card.seller_view:hover .product-card_mask {
  opacity: 1;
}

.product-card_header {
  position: relative;
  height: 216px;
}

.product-card_img {
  border-bottom: 4px solid #37db67;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*.delimiter{
  position:absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;
}
*/

.product-card_info {
  position: absolute;
  bottom: 16px;
  left: 20px;
  right: 20px;
  color: #ffffff;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.product-card_term {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
}

.product-card_icon {
  width: 14px;
  height: 13px;
}

.product-card_icon use {
  fill: #ffffff;
}

.product-card_price {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: normal;
}

.product-card_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  height: 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 4px 4px;
  border: 2px solid #f6fafb;
  padding-top: 18px;
  padding-bottom: 40px;
}

.product-card_main h3.product-card_title {
  color: #084599;
  line-height: 1.33;
  margin: 0;
}

.product-card_main h4.product-card_description {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  color: #cccccc;
  font-weight: normal;
}

.product-card_main .button {
  margin-top: auto;
}

.product-card_mask {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.edit-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.edit-icons div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px #ffffff;
  position: relative;
}

.edit-icons div use {
  fill: #ffffff;
}

.edit-icons div .edit-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 7px;
  top: 7px;
}

.edit-icons div .delete-icon {
  width: 12px;
  height: 16px;
  position: absolute;
  left: 8px;
  top: 6px;
}

.edit-icons div:first-child {
  margin-right: 10px;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user {
  padding-left: 46px;
  position: relative;
}

.user.authorized::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url(/images/pavl.jpg?b4a7746342924f7c31016f1c16329c55);
  border-radius: 50%;
  left: 10px;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.user.unauthorized {
  padding-left: 36px;
}

.user.unauthorized::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(/images/user.svg?1ef8f6480d7ba1804300f7edc0ee75ac);
  left: 10px;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_icon {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  fill: #ffffff;
}

.full-size .logo {
  margin-left: auto;
  margin-right: auto;
}

.cart {
  margin-left: 30px;
}

.cart svg {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}

.cart .price {
  white-space: nowrap;
}

.pictogram_container {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  position: relative;
}

.pictogram_container use {
  fill: #cccccc;
}

.pictogram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pictogram_icon {
  width: 23px;
  height: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.colors p {
  font-size: 12px;
}

.colors-line,
.colors-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.colors-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 60px;
}

div.color-box.color-white {
  border: 1px solid #222222;
}

.color-box {
  width: 50px;
  height: 50px;
  margin-right: 50px;
}

.headline-section {
  margin-left: 60px;
}

.typo-elements-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 932px;
  margin-left: 60px;
}

.typo-elements-section .main_text {
  width: calc((100% - 160px) / 2);
  margin-right: 80px;
}

.typo-elements-section .list_marked,
.typo-elements-section .list_numbered {
  width: calc((100% - 160px) / 4);
  margin-right: 80px;
}

.product-edit article {
  float: left;
  margin-right: 50px;
}

.active-elements_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.active-elements_section .table {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.active-elements_section .inputs_input,
.active-elements_section .button {
  margin-bottom: 40px;
  margin-right: 40px;
}

.header {
  height: 120px;
  background-image: linear-gradient(85deg, #084599, #05a8d4);
  color: #ffffff;
  padding: 10px 40px 20px 40px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.header use {
  fill: #ffffff;
}

@media (max-width: 1279px) {
  .header {
    height: 80px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(2, 56, 129, 0.26);
            box-shadow: 0 3px 6px 0 rgba(2, 56, 129, 0.26);
    background-image: linear-gradient(76deg, #084599, #05a8d4);
    padding: 22px 20px;
  }

  .header .logo {
    margin: 0;
  }

  .header .main-nav,
  .header .user-block,
  .header .header_bottom {
    display: none;
  }

  .header .menu-toggler {
    display: block;
    width: 39px;
    height: 27px;
  }

  .header .menu-toggler .menu_icon {
    width: 39px;
    height: 27px;
    stroke: #ffffff;
    stroke-width: 3px;
  }
}

.header .headline-1 {
  color: #ffffff;
}

.header .headline-1 h1 {
  margin: 0;
  padding: 0;
}

.header_top {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header_bottom .search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 30px;
}

.header_bottom .search input {
  width: 100%;
}

.main-nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav_item {
  margin-right: 23px;
}

.main-nav_link,
.min-nav_link {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova Bold", sans-serif;
}

.search {
  height: 40px;
  border-radius: 4px;
  background-color: rgba(247, 247, 247, 0.5);
  position: relative;
}

.search .search_input {
  background-color: inherit;
  border: none;
  height: 40px;
}

.search .search_input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.996px;
}

.search .search_input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.996px;
  opacity: 1;
}

.search .search_input:-moz-placeholder {
  color: #ffffff;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.996px;
  opacity: 1;
}

.search .search_input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.996px;
  opacity: 1;
}

.search .search_input::placeholder {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.996px;
  opacity: 1;
}

.search::after {
  content: '';
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 22px;
  background-image: url(/images/search.svg?f4311334bf6f76368dc4040facf90b56);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
}

.add-tour {
  display: inline-block;
  width: 180px;
  color: #084599;
  height: 40px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  padding-top: 10px;
}

.header.mobile.opened {
  width: 100%;
  background-image: linear-gradient(36deg, #084599, #05a8d4);
  padding: 40px;
  padding-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: normal;
  position: relative;
}

.header.mobile.opened .header_top {
  margin-bottom: 0;
}

.header.mobile.opened .header_top,
.header.mobile.opened .header_bottom,
.header.mobile.opened .user-block,
.header.mobile.opened .min-nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.header.mobile.opened .user-block {
  margin-top: auto;
  margin-bottom: auto;
}

.header.mobile.opened .min-nav_item {
  margin-bottom: 31px;
}

.header.mobile.opened .min-nav_item:last-child {
  margin-bottom: 0;
}

.header.mobile.opened .min-nav_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header.mobile.opened .add-tour {
  width: 100%;
  color: #ffffff;
}

.header.mobile.opened .menu-toggler {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
}

.header.mobile.opened .menu-toggler::before,
.header.mobile.opened .menu-toggler::after {
  position: absolute;
  content: '';
  height: 36px;
  width: 3px;
  background-color: #ffffff;
  top: -5px;
  right: 12px;
}

.header.mobile.opened .menu-toggler::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.mobile.opened .menu-toggler::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.mobile.closed {
  height: 80px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(2, 56, 129, 0.26);
          box-shadow: 0 3px 6px 0 rgba(2, 56, 129, 0.26);
  background-image: linear-gradient(76deg, #084599, #05a8d4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 20px;
}

.header.mobile.closed .logo {
  margin: 0;
}

.header.mobile.closed .menu-toggler {
  width: 39px;
  height: 27px;
}

.header.mobile.closed .menu-toggler .menu_icon {
  width: 39px;
  height: 27px;
  stroke: #ffffff;
  stroke-width: 3px;
}

.menu-toggler {
  cursor: pointer;
}

.user_entry {
  color: #ffffff;
  text-decoration: none;
}

.menu-section .gydeline-headline-2 {
  margin-left: 40px;
}

.menu-section .gydeline-headline-3 {
  margin-left: 40px;
}

.menu-section header {
  margin-bottom: 83px;
}

.menu-section .header.mobile.opened {
  width: 320px;
  height: 440px;
}

.menu-section .header.mobile.closed {
  width: 320px;
}

.menu-section .header {
  position: static;
}

.footer {
  font-family: "Proxima Nova Bold", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  color: #ffffff;
}

@media all and (min-width: 1px) {
  .footer {
    background-image: linear-gradient(58deg, #084599, #05a8d4);
  }
}

@media all and (min-width: 600px) {
  .footer {
    background-image: linear-gradient(58deg, #084599, #05a8d4);
  }
}

@media all and (min-width: 1280px) {
  .footer {
    background-image: linear-gradient(81deg, #084599, #05a8d4);
  }
}

.footer .add-tour {
  color: #ffffff;
  width: 170px;
}

.footer .user.unauthorized {
  padding-left: 0;
}

.footer .user.unauthorized::before {
  display: none;
}

.copyright {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.copyright span:first-child {
  margin-right: 32px;
}

.footer-section h2 {
  margin-left: 40px;
}

.footer-section h3 {
  margin-left: 60px;
}

.pictogram-section_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: normal;
  color: #084599;
}

.gydeline-cont {
  max-width: 1240px;
  width: calc(100% - 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.cont-med {
  margin-left: 60px;
  margin-right: 60px;
  max-width: 1120px;
}

.gydeline-section {
  margin-bottom: 80px;
}

.gydeline-section.colors {
  padding-top: 50px;
}

.gydeline-section .product-card {
  width: 300px;
  margin-bottom: 20px;
}

.gydeline-headline-2 {
  color: #24bf51;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.gydeline-headline-3 {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.4px;
  color: #747474;
  margin-left: -20px;
}

.main-banner {
  max-width: 100%;
  height: calc( 100vh - 80px );
  background: url(/images/main-banner.jpg?ed7d7abbfac944807c8d0d412bc6ef54) bottom center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-banner_text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Proxima Nova Bold", sans-serif;
}

.main-banner_title {
  font-size: 30px;
  line-height: 0.8;
  letter-spacing: 0.024px;
  margin-bottom: 12px;
}

.main-banner_description {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: normal;
  margin-bottom: 15px;
}

.main-banner_link.button {
  border: 2px solid #ffffff;
  width: 160px;
}

.section-headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

@media all and (min-width: 1280px) {
  .section-headlines {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.recreation-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  min-height: 80px;
  width: 100%;
  overflow: hidden;
}

.recreation-types p {
  display: none;
}

.recreation-types_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.recreation-types_wrapper h3 {
  color: #023881;
  margin-right: 15px;
  white-space: nowrap;
}

.recreation-types_wrapper .pictogram {
  margin-right: 21px;
}

.recreation-types_wrapper .pictogram_container:hover,
.recreation-types_wrapper .pictogram_container:active,
.recreation-types_wrapper .pictogarm_container:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#084599), to(#05a8d4));
  background-image: linear-gradient(to bottom, #084599, #05a8d4);
  border: none;
}

.recreation-types_wrapper .pictogram_container:hover use,
.recreation-types_wrapper .pictogram_container:active use,
.recreation-types_wrapper .pictogarm_container:focus use {
  fill: white;
}

.recommendations,
.hot-tours {
  padding-top: 56px;
}

.recommendations h3,
.hot-tours h3 {
  margin: 0;
}

.recommendations .show-all,
.hot-tours .show-all {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  font-weight: 600;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 34px;
}

.products-list > * {
  width: calc( (100% / 3) - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 980px) {
  .products-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (min-width: 1280px) {
  .products-list {
    margin-top: 20px;
  }
}

.products-list .product-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
}

@media all and (min-width: 1px) {
  .products-list .product-card {
    -ms-flex-preferred-size: 280px;
        flex-basis: 280px;
  }
}

@media all and (min-width: 600px) {
  .products-list .product-card {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
}

@media all and (min-width: 1280px) {
  .products-list .product-card {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
}

.products-list-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 34px;
}

.products-list-top > * {
  width: calc( (100% / 2) - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

@media all and (min-width: 1px) {
  .products-list-top {
    display: none;
  }
}

@media all and (min-width: 600px) {
  .products-list-top {
    display: none;
  }
}

@media all and (min-width: 1280px) {
  .products-list-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about {
  margin-bottom: 100px;
}

.about p {
  position: relative;
  margin-bottom: 21px;
}

.about p::after {
  content: '';
  height: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

@media all and (min-width: 1px) {
  .about p::after {
    display: block;
  }
}

@media all and (min-width: 600px) {
  .about p::after {
    display: block;
  }
}

@media all and (min-width: 1280px) {
  .about p::after {
    display: none;
  }
}

