
.user.unauthorized {
  padding-left: 36px;
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('./../../../public/svg/user.svg');
    left: 10px;
    @include centering('y');
  }
}