//@import "hamburgers";

.header {
    height:           120px;
    background-image: linear-gradient(85deg, $med-blue, #05a8d4);
    color:            $white;

    padding:          10px 40px 20px 40px;
    @include font-settings(14px, 1.43);
    width:            100%;
    position:         fixed;
    left:             0;
    top:              0;
    z-index:          10;
    & use {
        fill: $white;
    }

    .logo {
        margin-top: -2px;
    }

    @media(max-width: 1279px) {
        height:           80px;
        box-shadow:       0 3px 6px 0 rgba(2, 56, 129, 0.26);
        background-image: linear-gradient(76deg, #084599, #05a8d4);
        //  padding: 0 20px;
        @include for-flex(column, center);
        padding:          0;

        & .logo {
            margin-left: 20px;
            z-index:     30;

        }

        & .header_top {
            margin-bottom: 0;

        }

        & .main-nav, & .user-block, & .header_bottom {
            display: none;
        }
        & .hamburger {
            display:      block;
            margin-right: 17px;
            margin-top:   7px;
            z-index:      30;
        }
    }

    & .headline-1 {
        color:   $white;
        margin:  0;
        padding: 0;
    }
}

.header_top {
    margin-bottom: 17px;
    @include for-flex(row, space-between, center);
    .cart {
        margin-right: -3px;
    }
}

.header_bottom {
    @include for-flex(row, space-between, center);
    flex-wrap: wrap;

    & .main-search {
        flex-grow:    1;
        margin-right: 30px;

        & input {
            width: 100%;
        }
    }

}

.main-nav_list {
    @include for-flex(row, flex-start);
    margin:     0;
    padding:    0;
    list-style: none;

}

.main-nav_item {
    margin-right: 30px;

}

.main-nav_link, .min-nav_link {
    text-decoration: none;
    color:           $white;
    margin:          0;
    padding:         0;
    font-family:     $fbold;

}

.main-search {
    height:           40px;
    border-radius:    4px;
    background-color: rgba(247, 247, 247, 0.5);
    position:         relative;

    & .main-search_submit {

        border:           none;
        outline:          none;
        width:            0;
        height:           0;
        background-color: transparent;

    }

    & .main-search_input {
        background-color: inherit;
        border:           none;
        height:           40px;
        color:            white;

        &::-webkit-input-placeholder {
            color:   $white;
            opacity: 1;
            @include font-settings(12px, 1, 83);
        }
        &::-moz-placeholder {
            color:   $white;
            @include font-settings(12px, 1, 83);
            opacity: 1;

        }
        &:-ms-input-placeholder {
            color:   $white;
            @include font-settings(12px, 1, 83);
            opacity: 1;

        }
        &:-moz-placeholder {
            color:   $white;
            @include font-settings(12px, 1, 83);
            opacity: 1;

        }
        &::placeholder {
            @include font-settings(12px, 1, 83);
            opacity: 1;

        }
    }

    & .main-search_icon {
        @include centering('y');
        right:  22px;
        width:  12px;
        height: 12px;
    }

    //&::after {
    //    content:           '';
    //    @include centering('y');
    //    right:             22px;
    //    background-image:  url('/svg/search.svg');
    //    width:             12px;
    //    height:            12px;
    //    background-repeat: no-repeat;
    //
    //}

}

.add-tour {
    display:         inline-block;
    width:           180px;
    color:           $med-blue;
    height:          40px;
    text-decoration: none;
    text-align:      center;
    vertical-align:  middle;
    border-radius:   4px;
    font-weight:     bold;
    line-height:     40px;

}

.menu-mobile_wrapper {
    background-color: #00b05a;
   display: none;

    z-index: 20;
    @include absolute-extend();

    .header-mobile.mod_opened {
        width:            100%;
        height:           $win-height;
        background-image: linear-gradient(36deg, #084599, #05a8d4);
        padding:          40px;
        padding-top:      95px;
        @include for-flex(column, center);

        @include font-settings(18px, 1.33);
        // position:         relative;

        & .header_top {
            margin-bottom: 52px;
        }

        & .header_top, & .header_bottom, & .user-block, & .min-nav_list {
            @include for-flex(column);

        }

        & .user-block {
            margin-bottom: 50px;
            & .user.unauthorized {
                padding-left: 24px;

                &::before {
                    background-image: url('/svg/user-bold.svg');
                    left:             0;
                    width:            14px;
                    height:           14px;

                }
            }

            & .user.authorized{
                margin-left: -45px;

             & .user_avatar{
                 display: none;
             }

            }
        }

        & .min-nav_item {
            margin-bottom: 31px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        & .min-nav_list {
            margin:     0;
            padding:    0;
            list-style: none;
        }

        & .add-tour {
            width: 100%;
            color: $white;
        }

    }
}

.header.mobile.closed {
    height:           80px;
    box-shadow:       0 3px 6px 0 rgba(2, 56, 129, 0.26);
    background-image: linear-gradient(76deg, #084599, #05a8d4);
    @include for-flex(row, space-between, center);
    padding:          22px 20px;

    & .logo {
        margin:  0;

        z-index: 30;
    }
    & .hamburger {
        width:   39px;
        height:  27px;
        z-index: 30;

    }
}

.hamburger {
    cursor:  pointer;
    border:  none;
    outline: none;
    display: none;
}

.user_entry {
    color:           $white;
    text-decoration: none;
}

.header_top.mod_fixed,
.header_bottom.mod_fixed {
    @include media('d-only') {
        max-width:    1200px;
        margin-left:  auto;
        margin-right: auto;
    }
}
