.popup {
  width: 180px;
  height: 180px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  position: relative;
  box-sizing: border-box;

  & a {
    font-family: $fnorm;
    @include font-settings(12px, 22px);
    color: $med-grey;
    text-decoration: none;

  }
  &:after{
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 7px;
    height: 7px;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    right: 20px;
    top: 0;
    background-color: $white;
  }
  & .popup_bottom{
    position: absolute;
    height: 35px;
    width: 100%;
    bottom: 0;
    padding-left: 20px;
    padding-top: 6px;


  }
}


.personal-menu{
  list-style: none;
  margin: 0;
  padding: 0;



}

.personal-menu_icon{
  width: 10px;
  height: 10px;
  position: absolute;
  left: -22px;

}

.popup_main {
  padding-left: 40px;
  padding-top: 23px;
  height: 145px;

}


.personal-menu_item{
  position: relative;
  margin-bottom: 5px;

  & use{
    fill: $med-grey;
  }
}

.personal-menu_item.active{
  & a {
    color: $med-blue;
  }
  & use{
    fill: $med-blue;
  }
}


.popup-bottom_link{
  display: inline-block;
}

.popup-bottom_icon {
  width: 10px;
  height: 8px;
  display: inline-block;
  transform: translateY(2px);
  margin-left: 8px;

  & use {
    fill: $med-grey;
  }
}
