.logo {
    @include for-flex(row, center, center);
    word-spacing: -3px;
}



.logo_icon {
    width:        36px;
    height:       36px;
    margin-right: 10px;
    fill:         $white;

}

.full-size .logo {
    margin-left:  auto;
    margin-right: auto;
}

.logo_link{
    text-decoration: none;
}
