.orders-page {
   padding-bottom: 200px;




    & .footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &_breadcrumbs {
        margin-top: 24px;
    }

    &_title {
        margin-bottom: 35px;
    }

    &_orders {
        padding-bottom:       0;
        margin-bottom: 60px;
        @include media('d-only'){
            margin-bottom: 100px;
            padding-bottom:       20px;
        }
    }
}




