.orders-page {
   padding-bottom: 200px;



    & .footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &_breadcrumbs {
        margin-top: 24px;
    }

    &_title {
        margin-bottom: 35px;
    }

    &_orders {
        padding-bottom:       0;
        margin-bottom: 60px;
        @include media('d-only'){
            margin-bottom: 100px;
            padding-bottom:       20px;
        }
    }
}



.order {
    @include font-settings(16px, 1.38);
    font-weight: bold;
    color:       $nero;
    @media screen and(max-width: 1279px) {
        & td:nth-child(n + 3) {
            display: none;
        }
    }

    & .link {
        @include font-settings(16px, 1.38);
        font-weight: bold;
        color:       $nero;
    }

    &.mod_opened {
        color: $med-blue;
        & .link {
            color: $med-blue;

        }
        & .order_switcher-icon {
            transform: rotate(180deg);
            stroke:    $med-blue;
        }
    }

    &:first-child td {
        width: 25%;

    }

    &_date {
        @media screen and(max-width: 1279px) {
            width:         75%;
            padding-right: 20px;
            text-align:    right;

        }
    }

    &_items {
        padding-top:   20px;
        padding-left:  20px;
        padding-right: 20px;
        @include media ('d-only') {
            padding-left:  40px;
            padding-right: 40px;

        }


    }

    &_items-wrapper {
        display: none;
    }

    & td {
        padding-top:    20px;
        padding-bottom: 20px;
    }

    &_number {
        @include media('d-only') {
            padding-left: 40px;
        }
        padding-left: 20px;
    }

    &_details-switcher {
        text-align:      right;
        text-decoration: underline;
        padding-right:   40px;
        cursor:          pointer;

    }

    &_switcher-icon {
        height:      10px;
        width:       12px;

        //z-index:  2;
        stroke:      $med-grey;
        margin-left: 13px;

        &.mod_mobile {
            cursor: pointer;
            @include media('d-only') {
                display: none;

            }
        }

    }
}

.order-item {
    @include for-flex(row, space-between, stretch);
    padding-bottom: 20px;
    color:          $nero;
    &_img {
        width:        60px;
        height:       60px;
        flex:         0 0 60px;
        margin-right: 20px;
    }
    &_info {
        @include for-flex(row, space-between, center);
        flex-grow: 2;
        @media screen and (max-width: 1279px) {
            @include for-flex(column, center, flex-start);
        }
    }
    &_tags {
        @include font-settings(12px, 1.5);
        @media screen and (max-width: 1279px) {
            margin-bottom: 5px;
        }
    }

    &_price {
        @include media('d-only') {
            width:      125px;
            text-align: left;
        }
        @include font-settings(16px, 1.38);
        font-weight: bold;;
    }
}
