.active-elements_section{
  @include for-flex();
  flex-wrap: wrap;
  @media screen and(max-width: 980px) {
      flex-direction: column;
  }

  & .table{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
  }
  & .inputs_input,.button{
    margin-bottom: 40px;
    margin-right: 40px;
  }

   & .gydeline-headline-3{
       margin-left: 20px;
   }



}
