.breadcrumbs {
    list-style: none;
    margin:     0;
    padding:    0;
    @include for-flex(row, flex-left);
    flex-wrap: wrap;

    & .breadcrumbs_item {
        display:        inline-block;
        @include font-settings(11px, 1.27);
        letter-spacing: 0.3px;
        margin-right:   3px;
        white-space: nowrap;


        &.mod_current {
            color: $med-grey;
            text-transform: capitalize;

            &:first-of-type:before {
                padding-right: 5px;
                color:         $light-green;
                @include font-settings(10px);
                font-family:   'Montserrat', sans-serif;
                content:       "\2192";
            }
        }

        & + li:before {
            padding-right: 5px;
            color:         $light-green;
            @include font-settings(10px);
            font-family:   'Montserrat', sans-serif;
            content:       "\2192";

        }

        & a {
            text-decoration: none;
            color:           $med-grey;
        }

    }
}
