.headline-section{
  margin-left: 60px;
}

.typo-elements-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 932px;
  margin-left: 60px;

  & .main_text{
    width: calc((100% - 160px) / 2 );
    margin-right: 80px;
  }

  & .list_marked, .list_numbered{
    width: calc((100% - 160px) / 4 );
    margin-right: 80px;
  }
}
