.product-page {
    &_breadcrumbs {
        margin-top: 25px;

    }

    &_title {
        text-transform: uppercase;
        margin-bottom:  20px;

    }

    & .swiper-container {
        width:         100%;
        height:        100%;
        margin-bottom: 20px;
        @include media('d-only') {

            margin-left:  auto;
            margin-right: auto;
            &.gallery-top {
                height:        340px;
                margin-bottom: 10px;
                width:         100%
            }
            &.gallery-thumbs {
                height:     70px;
                box-sizing: border-box;
                //padding:    10px 0;
                & .swiper-slide {
                    flex:          0 0 70px;
                    border-radius: 4px;
                    height:        100%;
                    opacity:       0.4;
                    &.swiper-slide-thumb-active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    & .swiper-slide {
        @media screen and(max-width: 1279px) {
            text-align:              center;
            font-size:               18px;
            background:              #fff;
            position:                relative;
            display:                 -webkit-box;
            display:                 -ms-flexbox;
            display:                 -webkit-flex;
            display:                 flex;
            -webkit-box-pack:        center;
            -ms-flex-pack:           center;
            -webkit-justify-content: center;
            justify-content:         center;
            -webkit-box-align:       center;
            -ms-flex-align:          center;
            -webkit-align-items:     center;
            align-items:             center;
            border-radius:           4px;
            width:                   200px;
            height:                  200px;
            &:not(.swiper-slide-active):after {
                background-color: white;
                opacity:          0.4;
                @include absolute-extend();
                z-index:          50;
                content:          '';
            }
        }
        @include media ('d-only') {
            background-size:     cover;
            background-position: center;
        }
    }

    &_revews {
        margin-bottom: 50px;
    }

    &_similar {
        margin-bottom: 60px;
        @include media('d-only') {
            margin-bottom: 100px;
        }
    }

}

.product {
    @include media ('d-only') {
        @include for-flex(row, space-between, stretch);
        max-width:     1200px;
        margin:        0 auto;
        width:         calc(100% - 80px);
        margin-bottom: 40px;

    }
    &_slider {
        &.mod_mobile {
            display: block;
            @include media('d-only') {
                display: none;
            }
        }
        &.mod_desctop {
            display: none;
            @include media('d-only') {
                display:       block;
                width:         420px;
                border:        4px solid $light-milk;
                border-radius: 4px;
                padding:       40px;
                border-right:  none;
                order:         1;

            }

        }

    }

    &_img {
        border-radius: 4px;
        width:         100%;
        height:        auto;
        object-fit:    cover;
    }

    &_info,
    &_description {

        &.mod_cont-mobile {
            @media screen and(max-width: 1279px) {
                width:          calc(100% - 40px);
                margin:         0 auto;
                margin-bottom:  40px;
                padding-bottom: 0;
                margin-bottom:  40px;
            }
        }

    }

    &_info {
        @include media('d-only') {
            order:       3;
            flex:        0 0 240px;
            margin-left: 20px;
        }
    }

    &_description {
        @include media('d-only') {
            order:       2;
            border-left: none;
            padding:     40px 40px 40px 0;
        }
        & p {
            margin-bottom: 20px;
        }
    }

}

.purchase {

    @include for-flex(column, space-between, stretch);
    margin-bottom: 20px;
    @include media('d-only') {
        padding: 20px;
    }

    &_price {
        background-color: $light-milk;
        color:            $med-blue;
        font-size:        22px;
        padding-top:      15px;
        padding-bottom:   15px;
        font-weight:      bold;
        @include for-flex(row, center, center);

    }
    &_buy-button {
        background-color: $light-milk;
        padding-top:      20px;
        padding-bottom:   20px;
        @include for-flex(row, center, center);

        & .button {
            width:     160px;
            font-size: 18px;
            position:  relative;
            &:before {
                position:         absolute;
                content:          '';
                top:              0;
                left:             0;
                right:            0;
                background-color: $white;
                height:           2px;
                top:              -20px;

            }

        }
    }
}

.tag {
    padding-top:    15px;
    padding-bottom: 20px;
    &.mod_seller {
        padding-left: 55px;
        position:     relative;

        &:before {
            content:          '';
            position:         absolute;
            width:            40px;
            height:           40px;
            border-radius:    50%;
            background-color: $light-grey;
            left:             0;
            background-image: url('/img/pavl-large.jpg');
            background-size:  contain;

        }
    }

    & span {
        @include font-settings(12px, 1.5);
        color: $nero;
    }
    &_title {
        color: $med-blue;
    }
}

.tags {
    padding-top:    0;
    padding-bottom: 0;
    @include media('d-only') {
        padding-left:  20px;
        padding-right: 20px;
    }
    &_item {
        border-bottom: 4px solid $light-milk;
        &:last-child {
            border-bottom: none;
        }
    }
}

.categories {
    @include for-flex(row, space-between);
    margin-bottom: 20px;
}

.description.text.mod_normal {
    color: $nero;

}

.revews {

    &_title {
        margin-bottom: 15px;

    }
    &_group {
        margin-bottom:  40px;
        padding-top:    0;
        padding-bottom: 0;
        &.mod_border-grey {
            @include media('d-only') {
                padding: 0;

            }
        }
    }
}

.revew {
    color:         $med-grey;
    border-bottom: 4px solid $light-milk;
    padding-top:   20px;
    @include media('d-only') {
        padding:      40px;
        padding-left: 195px;
        position:     relative;
        &:before {
            content:          '';
            width:            100px;
            height:           100px;
            border-radius:    4px;
            background-image: url('/img/Efremova.jpg');
            background-size:  contain;
            position:         absolute;
            left:             40px;
            top:              40px;

        }
    }
    &:last-child {
        border-bottom: none;
    }
    &_title {
        color: $dark-blue;
    }
    &_date {
        @include font-settings(11px, 1.27);
        letter-spacing: 0.3px;
    }

    &_revewer-link {

        color: $med-grey;

    }
    &_text {
        p {
            margin-top: 10px;
        }
    }
}

.revew-form {
    &_label {
        @include font-settings(18px, 1.11);
        font-weight: bold;
        //margin-bottom: 15px;

    }
    &_fieldset {
        //@include for-flex(column, space-between, stretch);
        margin-top: 15px;
        @include media('d-only') {
            padding: 40px;

        }

    }

    &_fieldset-wrapper {
        @include media('d-only') {
            @include for-flex(row, space-between, stretch);
        }
    }
    &_textarea-wrapper {
        flex-grow: 2;
    }
    &_input-wrapper {

        @include media('d-only') {

            @include for-flex(column, space-between);

            flex:        0 0 400px;
            margin-left: 20px;
        }
    }

    &_input {
        margin-bottom:    20px;
        border:           none;
        outline:          none;
        background-color: $light-milk;
        width:            100%;
        padding:          20px;
        color:            $med-grey;
        @include font-settings(11px, 1.27);
        @include media('d-only') {
            height: 40px;
        }
        &.mod_text {
            height: 220px;
            @include media('d-only') {
                height:         160px;
                padding-bottom: 0;
                margin-bottom:  0;
                width:          100%;
            }
        }

    }
    &_submit {
        width:       100%;
        height:      50px;
        line-height: 50px;
        cursor:      pointer;
        @include media ('d-only') {
            height:      40px;
            line-height: 40px;
        }

    }
}

.similar {
    &_title {
        margin-bottom: 15px;
    }
    &_group {

        @include grid(2, 20px);
        @media screen and(max-width: 599px) {
            @include grid(1, 20px);
        }
        @include media('d-only') {
            @include grid(4, 30px);
            flex-wrap: nowrap;
            & .product-card {
                flex: 0 0 300px;
                &.products-link {
                    flex: 0 2;
                }
            }

        }
    }

}

.products-link {
    // @extend .product-card;

    @include for-flex(column, center, center);

    &_icon {
        width:         54px;
        height:        54px;
        border-radius: 50%;
        border:        2px solid $dark-blue;
        position:      relative;
        &:before,
        &:after {
            content:          '';
            width:            2px;
            height:           28px;
            background-color: $dark-blue;
            @include centering('both');
        }
        &:after {
            transform: rotate(90deg) translateX(-14px);

        }
    }
    &_link {
        @include for-flex(column, center, center);
        text-decoration: none;
        color:           $dark-blue;
        width:           200px;
    }

    &_text {
        @include font-settings(14px, 1.43);
        font-weight: bold;
        text-align:  center;

    }
}

