.product-page {
    &_breadcrumbs {
        margin-top: 25px;

    }

    &_title {
        text-transform: uppercase;
        margin-bottom: 20px;

    }



    & .swiper-container {
        width:  100%;
        height: 100%;
        margin-bottom: 20px;
    }
    & .swiper-slide {
        text-align:              center;
        font-size:               18px;
        background:              #fff;
        position:                relative;
        &:not(.swiper-slide-active):after {
            background-color: white;
            opacity:          0.4;
            @include absolute-extend();
            z-index:          50;
            content:          '';
        }

        /* Center slide text vertically */
        display:                 -webkit-box;
        display:                 -ms-flexbox;
        display:                 -webkit-flex;
        display:                 flex;
        -webkit-box-pack:        center;
        -ms-flex-pack:           center;
        -webkit-justify-content: center;
        justify-content:         center;
        -webkit-box-align:       center;
        -ms-flex-align:          center;
        -webkit-align-items:     center;
        align-items:             center;
        border-radius:           4px;
        width:                   200px;
        height:                  200px;
    }






    & .product_tags{
        margin-bottom: 40px;

        & .tag_title{
            color: $med-blue;
        }


        & .tag{
            border-bottom: 4px solid $light-milk;
            & span{
                @include font-settings(12px, 1.5);
                color: $nero;
            }
        }

    }


}
.product{
    & .product_img {
        border-radius: 4px;
        width:         100%;
        height:        auto;
        object-fit:    cover;
    }

    & product_info.mod_cont-mobile{
        @media screen and(max-width: 1279px){
            width:     calc(100% - 40px);
            margin: 0 auto;
        }
    }
}

.purchase{
    margin-bottom: 20px;
    @include for-flex(column, space-between, center);
    &_price{
        margin-bottom: 2px;
        background-color: $light-milk;
        color: $med-blue;
        font-size: 22px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: bold;
    }
    &_buy-button{
        background-color: $light-milk;
        padding-top: 20px;
        padding-bottom: 20px;
        & .button{
            width: 160px;
            font-size: 18px;
        }
    }
}

