.gydeline-cont {
    max-width: 1240px;
    width:     calc(100% - 40px);

    //      padding: 0 20px;

    margin:    0 auto;

}

//.cont-med{
// @include media('d-only'){
//   margin-left:  60px;
//  margin-right: 60px;
//    }
//  max-width: 1120px;
//}

.gydeline-section {
    margin-bottom: 80px;
    &.colors {
        padding-top: 50px;
    }
    & .product-card {
        width:         300px;
        margin-bottom: 20px;
    }
}

.gydeline-headline-2 {
    color:          $med-green;
    font-size:      16px;
    text-transform: uppercase;
    margin-bottom:  40px;
}

.gydeline-headline-3 {
    font-size:      14px;
    line-height:    1.57;
    letter-spacing: 0.4px;
    color:          #747474;
    margin-left:    -20px;
}

