

.index .cont {
    max-width: 940px;
}

.index .product-card{
    @media screen and(max-width: 660px) {
        &:nth-child(6) {
            display: block;
        }
    }
}

.main-banner {
    max-width: 100%;
    height:    unquote("calc( #{$win-height} - 80px )");
    @include media('d-only') {
        height: unquote("calc( #{$win-height} - 120px )");
    }
    // background: url('/img/main-banner.jpg') bottom center / cover no-repeat;
    // @include for-flex(column, center, center);

}
.arrow{
    width: 24px;
    height: 24px;
    fill: $dark-grey;
}

.swiper-container {
    width:  100%;
    height: 100%;
}

.swiper-slide {
    position: relative;

}

.main-banner_img {
    //
    width:      100%;
    height:     100%;
    object-fit: cover;
    z-index:    2;

}

.main-banner_text-block {
    @include for-flex(column, space-between, center);
    color:       $white;
    font-family: $fbold;
    @include centering('both');
    z-index:     3;
}

.main-banner_title {
    @include font-settings(30px, 0.8);
    text-transform: uppercase;

    white-space: nowrap;


    @include media('d-only') {
        @include font-settings(48px, 0.5);
        letter-spacing: 2px;

    }
    margin-bottom: 15px;
}

.main-banner_description {
    @include font-settings(18px, 1.33);
    @include media('d-only') {
        @include font-settings(24px, 1);
    }
    margin-bottom: 26px;
    padding-left: 2px;
    margin-top: 0;
    word-spacing: 3px;
}

.main-banner_link.button {
    border: 2px solid $white;
    width:  160px;
   padding-left: 8px;
    letter-spacing: normal;
    //word-spacing: -1px;

}

.section-headlines {
    @include for-flex(column, space-between);
    @include media('d-only') {
        flex-direction: row;
    }
    & .headline-2 {
        @include font-settings(22px, 1.09);
        color: $nero;
    }

    & .show-all {
        @include font-settings(14px, 1.43);
        color: $dark-grey;

    }

}

.recreation-types {
    @include for-flex(row, space-between, center);
    background-color: $med-milk;
    height:       80px;
    width:            100%;
    @include media('d-only') {
        height: 100px;
    }

    & .pictogram {
        margin-right: 20px;

        & .pictogram_title {
            display: none;
        }
        @include media('d-only') {
            //  position: relative;

            &:hover {
                & .pictogram_title {
                    display:          block;
                    position:         absolute;
                    @include font-settings(12px, 1.67);
                    border:           solid 1px $med-blue;
                    color:            $med-blue;
                    font-family:      $fbold;
                    border-radius:    4px;
                    padding-left:     15px;
                    padding-right:    7px;
                    white-space:      nowrap;
                    top:              30px;
                    background-color: white;
                    z-index:          10;
                    &:after,
                    &:before {
                        content:      '';
                        @include centering('x');
                        width:        0;
                        height:       0;
                        border-style: solid;
                        border-width: 0 10px 7px 10px;
                    }
                    &:before {
                        border-color: transparent transparent #084599 transparent;
                        bottom:       20px;
                    }
                    &:after {
                        border-color: transparent transparent white transparent;
                        bottom:       19px;
                    }
                }
            }
        }
    }

}

.recreation-types_wrapper {
    @include for-flex(row, space-between, center);
    overflow-x: auto;
    @media screen and (min-width: 1279px) {
        overflow-x: visible;

        height:     100%;
        min-height: 80px;
        @include media('d-only') {
            min-height: 100px;
        }
    }
    @media screen and (max-width: 980px) {
        width:  100%;
        margin: 0 0;
        & .headline-3 {
            margin-left: 20px;
        }

    }
    & .headline-3 {
        color:        $dark-blue;
        white-space:  nowrap;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 3px;

        margin-right: 4px;

        letter-spacing: 0.6px;

    }


    & .arrow{
        fill: $dark-blue;
        margin-right: 14px;

    }



    & .pictogram_container:hover,
    & .pictogram_container:active,
    & .pictogarm_container:focus {
        background-image: linear-gradient(to bottom, #084599, #05a8d4);
        border:           none;
        & use {
            fill: white;

        }
    }
}

.recommendations {
    padding-top: 60px;
    letter-spacing: 1px;
    word-spacing: 4px;
    & h3 {
        margin: 0;
    }

    & .show-all {
        text-decoration: none;
        color:           $dark-grey;
        @include font-settings(14px, 1.43);
        word-spacing: normal;
        font-weight:     600;
        padding: 0;
        margin-top: -5px;
        @include for-flex(row, flex-left, center);
        & .arrow{
            margin-left: 14px;
            margin-top: 5px;

        }


    }
}

.hot-tours {
    @extend .recommendations ;
    padding-top: 42px;

    & .show-all{

    }
}


.products-list {
    @include grid(3, 20px);
    justify-content: space-between;
    & .product-card {
        @include media-set(flex-basis, (m: 280px, t: 300px, d: 300px));
    }
    @media only screen and (max-width: 980px) {
        @include grid(2, 20px);
        & .product-card {
            flex-grow: 1;
        }

    }
    margin-top:      26px;
    @include media('d-only') {
        margin-top: 20px;
    }

}

.products-list-top {
    @include grid(2, 20px);
    justify-content: center;
    margin-top:      34px;
    @include media-set(display, (m: none, t: none, d: flex));
    & .article {
        flex-basis: 300px;
        flex-grow:  2;
    }
}

.about {
    margin-bottom: 100px;
    padding-top: 22px;
    .headline-2 {
        @include font-settings(22px, 1.09);
    }
    & .about_info {
        position:      relative;
        margin-bottom: 38px;



        @media screen and(max-width: 1279px) {
            height:   400px;
            overflow: hidden;
        }
        &::after {
            content:          '';
            height:           80px;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
            position:         absolute;
            bottom:           0;
            right:            0;
            left:             0;
            @include media-set(display, (m: block, t: none, d: none));

        }
        &.mod_full-size{

            transition: $transition;
        }


        &.mod_full-size::after {
            display: none;
        }
    }
}

.about_button {
    display: none;
    @include media('m-only') {
        display: block;
    }
}
