
.seller-page {

    &_content-wrapper {
        padding-top: 22px;
        @include for-flex(column, space-between, flex-start);
    }

    &_breadcrumbs {
        margin-bottom: 20px;
        @include media('d-only') {
            margin-bottom: 0;
        }
    }

    &_title {
        margin:         0;
        text-transform: uppercase;
        margin-bottom:  38px;
    }

    &_main-content {
        @include for-flex(column);
        @include media('d-only') {
            flex-direction: row;
        }

    }

    & .filter{
        @include media('d-only') {

            margin-right: 40px;
        }
    }

    & .filter_form {
        @include media('d-only') {
            width:        200px;

        }
    }
    & .filter_input {
        margin-bottom: 16px;
    }

    & .filter_title {
        @include font-settings(18px, 1.11);
        font-family:    $fbold;
        color:          $dark-blue;
        text-transform: uppercase;
        border:         solid 4px #f6fafb;
        border-radius:  2px;
        padding-left:   21px;
        padding-top:    8px;
        padding-bottom: 8px;
        display:        block;
        box-sizing:     border-box;
        width:          100%;
        margin-bottom: 20px;
    }

    & .filter_fields {
        //@include for-flex(row);
        margin:         0;
        margin-top:     20px;
        border:         solid 4px #f6fafb;
        border-radius:  2px;
        padding-left:   18px;
        padding-top:    20px;
        padding-bottom: 5px;
        margin-bottom:  40px;

        & .checkbox_label {

            @include font-settings(11px, 1.27);
            letter-spacing: 0.3px;
            color:          $med-grey;
            &:before {
                bottom: -2px;
            }

        }
    }

}

