.cart {
    margin-left: 30px;
    font-family: $fbold;
    & .cart_link{
        text-decoration: none;
        color: white;
    }
    & .cart_icon {
        fill:   $white;
        width:  12px;
        height: 12px;
        margin-right: 5px;
        margin-left: 10px;
    }
     & .cart_price {
        white-space: nowrap;

    }
}
